{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>Retnews &#8211; Best news, blog & magazine template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <!-- favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="{% static 'images\placeholder\main_logo.png' %}">
        <meta name="theme-color" content="#030303">
        <!-- google fonts -->
        <link
           href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500&family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,400&display=swap"
           rel="stylesheet">
        <link href="{% static 'css/styles.css' %}?537a1bbd0e5129401d28" rel="stylesheet">
     </head>
    <body>
        <!-- loading -->
        <div class="loading-container">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                    <li>
                        <img src="{% static 'images/placeholder/loading.png' %}" alt="Alternate Text" height="100" />
                    </li>
                    <li>
                        <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </li>
                    <li>
                        <p>Loading</p>
                    </li>
                </ul>
            </div>
        </div>
       
        <!-- Breadcrumb  -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Breadcrumb -->
                        <ul class="breadcrumbs bg-light mb-4">
                            <li class="breadcrumbs__item">
                                <a href="{% url 'list' %}" class="breadcrumbs__url">
                                <i class="fa fa-home"></i> Home</a>
                            </li>
                            <li class="breadcrumbs__item">
                                <a href="{% url 'list' %}" class="breadcrumbs__url">News</a>
                            </li>
                            <li class="breadcrumbs__item breadcrumbs__item--current">
                                Contact
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb  -->
        <!-- Form contact -->
        <section class="wrap__contact-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h5>contact us</h5>
                        <form method="POST" enctype="multipart/form-data" action="">
                            {% csrf_token %}
                            {{form|crispy}}
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <h5>Info location</h5>
                        <div class="wrap__contact-form-office">
                            <ul class="list-unstyled">
                                <li>
                                    <span>
                                    <i class="fa fa-home"></i>
                                    </span>
                                    PO Box 16122 Collins Street West Victoria
                                    8007 Australia
                                </li>
                                <li>
                                    <span>
                                    <i class="fa fa-phone"></i>
                                    <a href="tel:">(+12) 34567 890 123</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                    <i class="fa fa-envelope"></i>
                                    <a href="mailto:">mail@example.com</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                    <i class="fa fa-globe"></i>
                                    <a href="#" target="_blank"> www.yourdomain.com</a>
                                    </span>
                                </li>
                            </ul>
                            <div class="social__media">
                                <h5>find us</h5>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" class="btn btn-social rounded text-white facebook">
                                        <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="btn btn-social rounded text-white twitter">
                                        <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="btn btn-social rounded text-white whatsapp">
                                        <i class="fa fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="btn btn-social rounded text-white telegram">
                                        <i class="fa fa-telegram"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="btn btn-social rounded text-white linkedin">
                                        <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Form contact  -->
        <section class="wrapper__section p-0">
            <div class="wrapper__section__components">
               <footer>
                  <p>Copyright © 2019 News and Magazine </p>
               </footer>
            </div>
         </section>
         <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
         <script type="text/javascript" src="{% static 'js/index.bundle.js'%}?537a1bbd0e5129401d28"></script>
      </body>
</html>